h1, h2, h3 {font-family: "Dokdo"; cursor:default;}
p{
    font-family: "Dongle";
    font-size: 30px;
    line-height: 0.7;
    margin: 0px;
    cursor: default;
}
h1{ font-size: 60px; margin-bottom: 10px;}
h2{font-size: 40px; margin-bottom: 10px;}

h1, h2{
    max-width: max-content;
    background-color: rgb(253, 228, 88);
    border-radius: 12px;
    padding: 7px 7px;
    border-color: gold; 
    border-style:dashed;
}
h3{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px; 
    margin-bottom: 10px;}
a{
    font-family: "Dongle";
    font-size: 25px;
    line-height: 0.7;
}

#counter{
    position: absolute;
    right: 100px;          
    font-weight: bold;
    font-size: 40px;
    font-family: "Dokdo";
    }

#star{
    position: absolute;
    top: 10px;
    right: 1px;          
    z-index: 1000;
}





